extends layouts/main

append content
    .container
        //h2.title Это главная страница

        //+b-header('Тест миксина')

        //+b-pageLink('page-2.html', 'Переход на страницу-2')

        .js-block
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sint atque dolorum fuga ad incidunt voluptatum error fugiat animi amet! Odio temporibus nulla id unde quaerat dignissimos enim nisi rem provident molestias sit tempore omnis recusandae esse sequi officia sapiente.

            -
                var str = `- Что на завтрак, Бэрримор?
                           - Овсянка, сэр.
                           - А на обед?
                           - Овсянка, сэр.
                           - Ну а на ужин?
                           - Котлеты, сэр.
                           - Уррра!!!
                           - Из овсянки, сэр!!!`

            blockquote= str

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit sint atque dolorum fuga ad incidunt voluptatum error fugiat animi amet! Odio temporibus nulla id unde quaerat dignissimos enim nisi rem provident molestias sit tempore omnis recusandae esse sequi officia sapiente.