extends layouts/main

append content
    .container
        //h2.title Это главная страница

        //+b-header('Тест миксина')

        //+b-pageLink('page-2.html', 'Переход на страницу-2')

        .js-block

